.show{
    width: 50%;
    margin: 0 auto;
    font-family: Arial;
    background-color: #EEEEEE;
    color: #373A40;
}
.slide{
    padding-left: 15px;
    width: 750px;
}
.title{
    padding-left: 15px;
    font-size: 56px;
    color: #373A40;
    background: linear-gradient(to right, rgba(220, 95, 0, 0.6), rgba(220, 95, 0, 0.15));
}
.custom-line{
    margin-top: 0px;
    margin-left: 2px;
    border: none;
    height: 1px;
    background-color: #B5B9BF;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    width: 98%;
}

h1, h2 {
    margin: 10px 0;
    padding: 0;
}

ol, p {
    margin-top: 10px;
    margin-bottom: 10px;
}
li{
    margin-top:16px;
    line-height: 1.5;
}





.firstdiagram{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fingerprintref{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fingerprintconnect{
    display: flex;
    justify-content: center;
    align-items: center;
}